@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.App {
  display: flex;
  width: 100%;
  font-family: "Nunito", sans-serif;
  background-color: hsl(240deg 100% 99%);
  gap: 5px;
}
