.playBtn-div {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 15px;
}

.playBtn {
  width: fit-content;
  border-radius: 5px;
  border: none;
  background: #6553f5;
  color: white;
  padding: 15px 30px;
}

.pauseBtn {
  width: fit-content;
  border-radius: 5px;
  border: none;
  background: #dd5c46;
  color: white;
  padding: 15px 30px;
}

.playBtn:hover,
.pauseBtn:hover {
  cursor: pointer;
}

.timer-wrapper {
  width: 500px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px white;
  border-radius: 10px;
  box-shadow: 2px 4px 7px 2px #cbcbcb;
  background-color: white;
}

.timer-header {
  padding: 15px;
  background: #f5f5f7;
}

.timer-form > .form-control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  margin-bottom: 25px;
}

.timerForm-div {
  width: 100%;
}

.form-control > input {
  font-size: 18px;
}

.timer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}

.rounds,
.timer-display {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 10px;
}

.rounds {
  background: #f3f2ff;
}

.timer-display {
  background: #fff5f3;
}

.rounds > h2 {
  color: #1b0c95;
}

.timer-display > h2 {
  color: #ef0000;
}
