.userLastActivity-graph {
  height: 350px;
}

.userLastActivity-wrapper {
  background-color: white;
  padding: 15px;
  box-shadow: 1px 1px 1px 1px #ddd;
  border-radius: 10px;
}

.userLastActivity-header {
  margin-bottom: 10px;
}

.userLastActivity-header > h4 {
  display: flex;
  align-items: center;
  gap: 5px;
}

.calorie-img {
  width: 15px;
}
